{% extends '_base.html' %}
{% load static %}
{% block title%} Home {% endblock %}

{% block content %}
    <style>
        .login-link {
            text-decoration: none;
            color: white ;
        }
        .internal-logout {
            color: black;
        }
    </style>

    <h1>This is our home page</h1>
    <img src="{% static 'images/code.png' %}" alt="code.png" height="100px" width="100px">
    
    {% if user.is_authenticated %}
        <p>Hi {{user.email}} </p>
        <form id="logoutForm" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <button type="submit" class="logoutButton internal-logout">Logout</button>
        </form>
    {% else %}
        <p>User is not logged in</p>
        <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Log In</a>
        <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
        
{% endblock content %}
    